@import "~@common/style/base.styl"
@import "~@common/style/common.styl"
@import "~@common/style/icon-font/iconfont.css";

body
  min-width 1240px
  color #252B3A
.w100
  width 100%
.h100
  height 100%