
// Buttom按钮
.ant-btn-primary {
    background-color: #5E7CE0 !important;
    color: #FFFFFF !important;
    border-color: #5E7CE0 !important;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
    background-color: #7693F5 !important;
    color: #FFFFFF !important;
    border-color: #7693F5 !important;
}
.ant-btn-primary:active,
.ant-btn-primary.active {
    background-color: #526ECC !important;
    color: #FFFFFF !important;
    border-color: #526ECC !important;
}
.ant-btn-danger {
    background-color: #C7000B !important;
    color: #FFFFFF !important;
    border-color: #C7000B !important;
}
.ant-btn-danger:hover,
.ant-btn-danger:focus {
    background-color: #D64A52 !important;
    color: #FFFFFF !important;
    border-color: #D64A52 !important;
}
.ant-btn-danger:active,
.ant-btn-danger.active {
    background-color: #B12220 !important;
    color: #FFFFFF !important;
    border-color: #B12220 !important;
}
.ant-btn-normal {
    color: #252B3A !important;
    border-color: #ADB0B8 !important;
}
.ant-btn-normal:hover,
.ant-btn-normal:active,
.ant-btn-normal:focus {
    border-color: #5E7CE0 !important;
}
.ant-btn[disabled] {
    background-color: #F5F5F6 !important;
    color: #ADB0B8 !important;
    border-color: #DFE1E6 !important;
}
.ant-btn[disabled]:hover,
.ant-btn[disabled]:active,
.ant-btn[disabled]:focus,{
    background-color: #F5F5F6 !important;
    color: #ADB0B8 !important;
    border-color: #DFE1E6 !important;
}
.ant-btn {
    height: 28px;
    font-size: 12px;
    color: #252B3A;
    border: 1px solid #ADB0B8;
    border-radius: 2px;
}
.ant-btn-lg {
    height: 32px !important;
}
.ant-btn-sm {
    height: 24px !important;
}
.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active,
.ant-btn.active {
    color: #252B3A;
    border-color: #ADB0B8;
}

// input组件、input密码组件(常态、悬浮、聚焦)
.ant-input {
    height: 28px;
    font-size: 12px;
    color: #252B3A;
    border-color: #ADB0B8;
    border-radius: 2px;
    box-shadow: none !important;
}
.ant-input:hover {
    border-color: #5E7CE0 !important;
}
.ant-input:focus {
    border-color: #5E7CE0 !important;
    box-shadow: none !important;
}
.ant-input-password-icon:hover {
    color: #5E7CE0;
    border-color: #5E7CE0 !important;
}
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    color: #5E7CE0;
    border-color: #5E7CE0 !important;
}

// inputNumber数字输入框
.ant-input-number {
    height 28px;
    border: 1px solid #ADB0B8;
    border-radius: 2px;
}
.ant-input-number:hover {
    border-color: #5E7CE0;
}
.ant-input-number:focus {
    border-color: #5E7CE0;
    box-shadow: 0 0 0 2px rgba(94, 124, 224, 0.2);
}
.ant-input-number-focused {
    border-color: #5E7CE0;
    box-shadow: 0 0 0 2px rgba(94, 124, 224, 0.2);
}
.ant-input-number-handler-up:hover {
    color: #5E7CE0;
}
.ant-input-number-handler:hover .ant-input-number-handler-up-inner,
.ant-input-number-handler:hover .ant-input-number-handler-down-inner {
    color: #5E7CE0;
}
.ant-input-number-input {
    height: auto;
    line-height: 28px;
    font-size: 12px;
}
.ant-input-number-handler-wrap {
    display none !important;
}

// select下拉框
.ant-select {
    font-size: 12px;
}
.ant-select-arrow {
    color: #ADB0B8 !important;
}
.ant-select-selection:hover {
    border-color: #5E7CE0;
}
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
    border-color: #5E7CE0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.ant-select-dropdown-menu-item {
    font-size: 12px;
}
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background: #F2F5FC;
    color: #5673D6;
}
.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background: #F2F5FC;
    color: #5673D6;
}
.ant-select-selection__placeholder, .ant-select-search__field__placeholder {
    color: #ADB0B8;
}
.ant-select-selection--single {
    height: 28px;
}
.ant-select-selection__rendered {
    line-height: 28px;
}
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected .ant-select-selected-icon, 
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected:hover .ant-select-selected-icon {
    color: #5673D6;
}
.ant-select-selection--multiple {
    min-height: 28px !important;
    padding-bottom: 0px !important;
}
.ant-select-selection--multiple > ul > li, .ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
    height: 22px;
    margin-top: 3px;
    line-height: 18px;
}
.ant-select-selection--multiple .ant-select-selection__rendered {
    margin-bottom: 0px !important;
}


// Checkbox复选框(未选中、悬浮/按下、选中、半选)
.ant-checkbox-inner {
    border: 1px solid #ADB0B8;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #5E7CE0;
}
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #5E7CE0;
}
.ant-checkbox-indeterminate .ant-checkbox-inner:after {
    background-color: #FFFFFF;
    border: 2px solid #5E7CE0;
    transform: translate(-50%,-50%) scale(2);
}
.ant-checkbox-group-item {
    margin: 0px 8px 8px 0px !important;
}

// Radio单选框
.ant-radio-checked .ant-radio-inner {
    border-color: #5E7CE0;
}
.ant-radio-inner {
    border-color: #ADB0B8;
}
.ant-radio-inner::after {
    background-color: #5E7CE0;
}
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
    border-color: #5E7CE0;
}

// Switch开关
.ant-switch-checked {
    background-color: #5E7CE0;
}

// Tabs标签页
.ant-tabs {
    color: #8A8E99;
}
.ant-tabs-nav .ant-tabs-tab-active {
    color: #5E7CE0;
    font-weight: bold;
}
.ant-tabs-ink-bar {
    background-color: #5E7CE0;
}
.ant-tabs-nav .ant-tabs-tab:hover {
    color: #5E7CE0;
}

// Tooltip文字提示
.ant-tooltip-inner {
    background-color: rgba(70, 76, 89, 0.98);
    color: #DFE1E6;
    font-size: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ant-tooltip-arrow::before {
    background-color: rgba(70, 76, 89, 0.98);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

// Pagination分页
.ant-pagination {
    font-size: 12px !important;
    margin: 20px 0px !important;
}
.ant-pagination-item-active {
    background: #E9EDFA;
    color: #252B3A;
    border-color: #E9EDFA;
    a {
        color: #252B3A;
    }
}
.ant-pagination-item {
    border: none !important;
}
.ant-pagination-item:focus,
.ant-pagination-item:hover {
    background-color: #5E7CE0 !important;
    border-color: #5E7CE0 !important;
}
.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
    color: #FFFFFF;
}
.ant-pagination-options-quick-jumper input:hover {
    border-color: #5E7CE0
}
.ant-pagination-options-quick-jumper input:focus {
    border-color: #5E7CE0 !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.ant-pagination-item {
    border: 1px solid #ADB0B8;
    border-radius: 2px;
}
.ant-pagination-options-quick-jumper input {
    border: 1px solid #ADB0B8;
    border-radius: 2px;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link{
    border-color: #ADB0B8;
    border-radius: 2px;
}
.ant-select-selection {
    border: 1px solid #ADB0B8;
    border-radius: 2px;
}
.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
    color: #5E7CE0;
    border-color: #5E7CE0;
}
.ant-pagination.mini .ant-pagination-item:not(.ant-pagination-item-active) {
    // background-color: #5E7CE0;
    // border-color: #5E7CE0
}

// Modal对话框
.ant-modal-header {
    padding: 28px;
    border-bottom: none;
}
.ant-modal-content {
    border-radius: 2px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}
.ant-modal-title {
    font-size: 18px;
}
.ant-modal-body {
    font-size: 12px;
    padding: 0px 32px 32px 32px;
}
.ant-modal-footer {
    padding-top 0
    padding-bottom 20px
    border none
    .ant-btn {
        min-width 52px
    }
}

// Popconfirm气泡确认框
.ant-popover-inner {
    border-radius: 2px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.ant-popover-message {
    display: flex;
    font-size: 12px;
}
.ant-popover-message-title {
    padding-left: 6px;
}
.ant-popover-message > .anticon {
    font-size: 12px;
}

// Upload上传
.ant-upload {
    color: #575D6C;
}
.ant-upload:hover {
    color: #5E7CE0;
    border-color #5e7ce0!important
}
.ant-upload.ant-upload-select-picture-card {
    width: 56px;
    height 56px;
    border: 1px dashed #ADB0B8;
    border-radius: 2px;
}
.ant-upload.ant-upload-select-picture-card:hover {
    border-color: #5E7CE0;
}

// FormModel表单
.ant-form label {
    color: #575D6C;
    font-size: 12px;
}
.ant-form-item {
    margin-bottom: 10px;
}
.has-error .ant-input {
    background: #FCD3D2;
}
.has-error .ant-input:focus {
    border-color: #F66F6A !important;
    box-shadow: 0px 1px 3px rgba(199, 54, 54, 0.25) !important;
}
.has-error .ant-select-selection {
    background: #FCD3D2;
}
.has-error .ant-select-selection:hover {
    background: #FFFFFF;
    border-color: #5E7CE0;
}
.has-error .ant-select-open .ant-select-selection,
.has-error .ant-select-focused .ant-select-selection {
    border-color: #F66F6A !important;
}
.ant-form-explain, .ant-form-extra {
    font-size: 12px;
}
.ant-form-item-label > label::after {
    content: "";
}
// 改变form表单必填和不必填label对齐问题
.ant-col.ant-col-5.ant-form-item-label {
    label[class=""]::before { // modal里用
        display: inline-block;
        width: 6.6px;
        margin-right: 4px;
        color: #f5222d;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: '';
    }
} 
.ant-col.ant-form-item-label { // tab里用
    label[class=""]::before {
        display: inline-block;
        width: 6.6px;
        margin-right: 4px;
        color: #f5222d;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: '';
    }
} 

// Table表格
.ant-table {
    color: #252B3A;
    font-size: 12px;
}
.ant-table-thead > tr > th {
    background: #F2F5FC;
    color: #575D6C;
}
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    background: #F2F5FC;
}
.editable-cell-icon[data-v-07cbf23a]:hover,
.editable-cell-icon-check[data-v-07cbf23a]:hover {
    color: #5E7CE0;
}
.ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner-full {
    margin-top -7px
}
.ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-up.on,
.ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-down.on {
    color: #5E7CE0;
}
.ant-dropdown-menu-item-selected,
.ant-dropdown-menu-submenu-title-selected,
.ant-dropdown-menu-item-selected > a,
.ant-dropdown-menu-submenu-title-selected > a {
    color: #5E7CE0;
}
.ant-table-filter-dropdown-link {
    color: #5E7CE0;
}
.ant-table-filter-dropdown-link:hover {
    color: #5E7CE0;
    text-decoration: none;
}
.ant-table-thead > tr > th .ant-table-filter-selected.anticon {
    color: #5E7CE0;
}
.ant-table-middle > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th {
    padding: 5px 8px;
    height: 28px;
}
.ant-table-middle > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td {
    padding: 6px 8px;
    height 42px;
}
.ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
    padding: 6px 8px;
    height 42px;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
    color: #5E7CE0 !important;
}
.editable-cell-icon,
.editable-cell-icon-check {
    right: auto !important;
}

// Badge徽标数
.ant-badge-count {
    font-size: 12px;
    box-shadow: none;
    background: #F66F6A;
}
.tabs-tag {
    padding: 0px;
    border-radius: 100%;
    background: #F66F6A;
    color: #FFFFFF;
}

// 分隔符
.ant-divider {
    color: #DFE1E6;
}

// Icon相关
.ant-modal-close {
    color: #575D6C;
}

// Input和Select(placeholder属性颜色和字体大小)
.ant-input::-webkit-input-placeholder {
    color: #ADB0B8;
    font-size: 12px;
}
.ant-input::-moz-input-placeholder {
    color: #ADB0B8;
    font-size: 12px;
}
.ant-input::-ms-input-placeholder {
    color: #ADB0B8;
    font-size: 12px;
}

// a-range-picker
.ant-calendar-range-picker-input {
    font-size: 12px;
}
.ant-calendar-today .ant-calendar-date {
    // color: #5E7CE0;
    // border-color: #5E7CE0;
}
.ant-calendar-date:active {
    background: #5E7CE0;
}
.ant-calendar-range .ant-calendar-selected-start-date .ant-calendar-date,
.ant-calendar-range .ant-calendar-selected-end-date .ant-calendar-date {
    background: #5E7CE0;
}
.ant-calendar-range .ant-calendar-selected-start-date .ant-calendar-date:hover,
.ant-calendar-range .ant-calendar-selected-end-date .ant-calendar-date:hover {
    background: #5E7CE0;
}
.ant-calendar .ant-calendar-ok-btn {
    background-color: #5E7CE0;
    border-color: #5E7CE0;
    color: #FFFFFF;
}
.ant-calendar .ant-calendar-ok-btn:hover, 
.ant-calendar .ant-calendar-ok-btn:focus {
    background-color: #5E7CE0;
    border-color: #5E7CE0;
}
.ant-calendar-picker:focus .ant-calendar-picker-input:not(.ant-input-disabled) {
    border-color: #5E7CE0;
}
.ant-calendar-time-picker-select li:hover {
    background: #5E7CE0;
    color: #FFFFFF;
}
.ant-calendar-time-picker-select li:focus {
    color:  #5E7CE0;
}

// a-tree
.ant-tree li .ant-tree-node-content-wrapper:hover {
    background none
}

// spin
.ant-spin-nested-loading, .ant-spin-container {
    height: 100%;
}

// a默认颜色
a {
    color: #526ECC;
}
a:hover {
    color: #344899;
    text-decoration: underline;
}
.ant-popover-buttons button {
    min-width 38px
}
